@font-face {
    src: url("LuckiestGuy-Regular.ttf");
    font-family: lletra;
}

body {
    font-family: lletra, sans-serif;
    background: #ffefc3;
    margin: 0;
    padding: 0;
}

#zonaJoc {
    justify-content: center;
    align-items: center;
    display: none;
    flex-wrap: wrap;
    height: 100vh;
}

#menu {
    display: flex;
    height: 100vh;
    background: #93b247;
}

#contingutMenu {
    width: 1000px;
    height: 600px;
    background-color: #c7a76c;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0004;

    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#menuDificultats {
    display: none;
    height: 100vh;
    background: #bb7942;
}

#contingutDificultats {
    width: 1000px;
    height: 700px;
    background-color: #c7a76c;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0004;

    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

titol {
    font-size: 90pt;
    color: #ffefc3;
    -webkit-text-stroke: 4px #776b57;
    background-color: #a28459;

    margin-top: 20px;
    padding-top: 30px;
    width: 950px;
    height: 300px;
    border-radius: 30px;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


#container {
    width: 800px;
    background-color: #c7a76c;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px #0004;
    flex-direction: column;

    margin: auto;
}

missatge {
    height: 300px;
    color: #fff4d0;
    background-color: #93b247;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 6px solid #888;
    border-radius: 15px;

    font-size: 50pt;
}

label {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    text-align: center;
    font-size: 20pt;
}

texte {
    margin-bottom: 5px;
}

input {
    background-color: #5d3317;
    border: none;
    border-radius: 10px;
    color: #fff;

    text-align: center;
    padding: 5px 10px;

    width: 300px;
    height: 60px;
    font-size: 30pt;
}

#nom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#boto {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

}

.botoGoMenu, .botoReiniciar {
    font-size: 20px;

}

.botoReiniciar {
    margin-left: 575px
}

.botoDificultat {
    font-size: 40px;
    margin: 50px 50px -20px 50px;
    height: 100px;
    width: 300px;
    border-radius: 17px;
    padding-top: 27px;
}

#botoMenuDificultat {
    margin-right: 905px;
}

#botonsDif {
    display: unset;
    height: 300px;
}

#inputsDif {
    display: none;

    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#inputColumnes, #inputFiles {
    margin-top: 60px;
}

.inputDificultat {
    margin: 0 20px;
}

#botoGoZonaJoc {
    font-size: 60px;
    margin-top: 100px;
    height: 100px;
    width: 300px;
    border-radius: 17px;
    padding-top: 27px;
}

#botoSubmit {
    font-size: 20px;
    margin-top: 20px;
}

button {
    background-color: #ce5600;
    color: #fcae6e;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: lighter;
    font-family: lletra, sans-serif;
}

button:hover {
    background-color: #e16200;
}

intents, numero_introduit {
    background-color: #eccd6c;
    color: #842;
    height: 70px;
    border-radius: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

numero_introduit {
    font-size: 17pt;
    width: 350px;
}

intents {
    width: 250px;
    font-size: 20pt;
}

#info {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: 20px auto;
}

#contenidorMarcats {
    margin: auto;
    background-color: #c7a76c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #0004;
}

#marcador {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    grid-auto-flow: row;
    margin: auto;
}

.marcats {
    font-size: 11pt;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #a28459;
    border-radius: 50%;
    padding: 9px 5px 5px 5px;
    margin: 1px;
    color: #524c42;
    cursor: pointer;
}

#infoProvats {
    background-color: #dcb470;
    color: #674e3e;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    margin-bottom: 15px;
    border-radius: 12px;
}